*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    width: 100%;
    height: 105px;
    line-height: 105px;
    padding: 0px 100px;
    position: relative;
    background-image: linear-gradient(#01151b,#00080a);
}

nav .logo p{
    font-size: 35px;
    font-weight: bold;
    float: left;
    color: white;
   cursor: pointer;   
}

nav ul{
    float: right;
}

nav li{
    display: inline-block;
    list-style: none;
}

nav li a{
    font-size: 18px;
    padding: 0px 30px;
    color: white;
    text-decoration: none;    
}
nav li a:hover{
    color: rgb(250, 155, 12);
    transition: all 0.6s ease-in-out;
}

.boll{
    position: absolute;
    top: 410px;
    left: 720px;
    align-items: center;
    text-align: center;
    transform: translate(-30%,-30%);
    font-size: 40px;
    color: rgb(238, 251, 7);
}


.doll{
    position: absolute;
    top: 455px;
    left: 600px;
    align-items: center;
    text-align: center;
    transform: translate(-30%,-30%);
    font-size: 22px;
    color: rgb(247, 247, 247);
}


.viwe{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    position: absolute;
    border-radius: 15px;
    padding: auto;
    top:720px;
    left: 565px;
    align-items: center;
    transform: translate(-30%,-30%);
}
.viwe img{
    width: 300px;
    height: 380px;
}

button{
        width: 180px;
        height: 60px;
        margin: 20px 10px;
        background-color: rgb(236, 109, 5);
        border: 20px;
        border-color: #00080a;
        border-radius: 7px;
        color: #dee4e6;
        margin-left: 43.5%;
        font-size: large;
        
        
    }
    button:hover{
        background-color: #070707;
        color: rgb(253, 254, 254);
        transition: all 0.4s ease-in-out;
    }
     .aaaa{
        position: absolute;
        top: 1500px;
        left: 620px;
        align-items: center;
        transform: translate(-30%,-30%);
        font-size: small;
        color: rgb(247, 247, 248);
    }


